.products--grid {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.products--grid app-product{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

/* tablets */
@media (min-width: 426px){
  .products--grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
  }
}

@media (min-width: 769px) {
  .products--grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
  }
}

@media (min-width: 1025px) {
  .products--grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem 2rem;
  }

  .products--grid app-product{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
